# Linear Regression

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\karth\Desktop\Decoder Lecture\Sessions\Day 17\gapminder (1).csv")
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

# 1 Extraction

In [3]:
y=df["fertility"]

In [4]:
X=df.drop("fertility",axis=1)

### check any Null Values

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   population       139 non-null    float64
 1   HIV              139 non-null    float64
 2   CO2              139 non-null    float64
 3   BMI_male         139 non-null    float64
 4   GDP              139 non-null    float64
 5   BMI_female       139 non-null    float64
 6   life             139 non-null    float64
 7   child_mortality  139 non-null    float64
 8   Region           139 non-null    object
dtypes: float64(8), object(1)
memory usage: 9.9+ KB

### Features Should Have to numerical

In [6]:
X=pd.get_dummies(X,drop_first=True,prefix="Region")

### Features Should have to be array or Dataframe

In [7]:
type(X)

pandas.core.frame.DataFrame

In [8]:
X.shape

(139, 13)

# 2

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
minmax=MinMaxScaler()

In [23]:
X_train_minmax=minmax.fit_transform(X_train)

In [24]:
X_test_minmax=minmax.transform(X_test)

# 3

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model=LinearRegression()

In [27]:
model.fit(X_train_minmax,y_train)

LinearRegression()

# 4

In [28]:
model.score(X_test_minmax,y_test)

0.8892529794377746

In [29]:
model.predict(X_test_minmax)

array([2.55475348, 1.87726884, 1.50902032, 5.15282559, 1.43044252,
       2.42307051, 5.72005155, 1.69789409, 5.26369876, 2.65363621,
       1.57138465, 4.77281145, 5.50157229, 5.95095808, 4.67876142,
       2.29837917, 1.63826275, 5.3794915 , 2.25334675, 1.53783591,
       2.85112507, 2.14838964, 6.37203485, 1.57518012, 1.26205591,
       2.43486146, 1.53561811, 2.49185977, 2.64899978, 1.73078544,
       1.67579617, 1.62666284, 1.2603737 , 1.65272186, 1.83743397,
       5.276514  , 3.9394876 , 1.63622007, 2.19248577, 2.60844401,
       5.55962816, 4.92658891, 1.33981486, 6.45316416, 2.24908386,
       2.12721821])

In [30]:
model.coef_

array([-0.58535195, -2.40082307, -0.68362906, -0.3405183 , -0.00252083,
       -0.68189248, -0.85773353,  2.49993429, -0.36006511, -0.37226166,
        0.26042392, -0.3649271 ,  1.81196546])

In [32]:
model.intercept_

3.4451197434813783